<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
   
    <title>Przyciski</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/stylislav.css' %}">
    
</head>
<body>
  
    <div class="rodzic">
    <div class="container2"> 
    {% if user.is_authenticated %}
    <h2>Jesteś zalogowany jako {{ user.username }}.</h2>
    <p id="poprawne">Poprawne odpowiedzi: <span id="correct_score">{{ request.user.dobre }}</span></p>
    <p id="bledne">Błędne odpowiedzi: <span id="wrong_score">{{ request.user.zle }}</span></p>
    
    <a href="{% url 'logout' %}">Wyloguj się</a>
    
    {% else %}
    <a href="{% url 'login' %}">Zaloguj się by zapisać wynik</a>
    {% endif %}


    <h3>Najlepsi użytkownicy</h3>
    <table>
    
            <tr>
                <td id="user">Użytkownik</td>
                <td id="pop">Poprawne odpowiedzi</td>
                <td id="niepop">Niepoprawne odpowiedzi</td>
                <th id="ratio">Balans</th>
            </tr>
    
            {% for user in users %}
            <tr>
                <td class="user">{{ user.username }}</td>
                <td class="pop">{{ user.dobre }}</td>
                <td class="niepop">{{ user.zle }}</td>
                <td class="ratio">{{ user.stosunek }}</td>
            </tr>
            {% endfor %}
      
    </table>
    </div>

    <div class="container" >

        <h1>Odgadnij dźwięk</h1>

        <div id="pianino">
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('C', this);">
            {% csrf_token %}
            <button type="submit" id="C">C</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('Db', this);">
            {% csrf_token %}
            <button type="submit" class="accidental" id="Db">C#</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('D', this);">
            {% csrf_token %}
            <button type="submit" id="D">D</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('Eb', this);">
            {% csrf_token %}
            <button type="submit" class="accidental" id="Eb">D#</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('E', this);">
            {% csrf_token %}
            <button type="submit" id="E">E</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('F', this);">
            {% csrf_token %}
            <button type="submit" id="F">F</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('Gb', this);">
            {% csrf_token %}
            <button type="submit" class="accidental" id="Gb">F#</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('G', this);">
            {% csrf_token %}
            <button type="submit" id="G">G</button>
        </form>
   
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('Ab', this);">
            {% csrf_token %}
            <button type="submit" class="accidental" id="Ab">G#</button>
        </form>
        
        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('A', this);">
            {% csrf_token %}
            <button type="submit" id="A" class="wyjatuszek">A</button>
        </form>

        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('Bb', this);">
            {% csrf_token %}
            <button type="submit" class="accidental" id="Bb">A#</button>
        </form>

        <form method="POST" action="" onsubmit="event.preventDefault(); sprawdz('B', this);">
            {% csrf_token %}
            <button type="submit" id="B">B</button>
        </form>
    </div>

   
    <p id="alert">Alert: dźwięki odtwarzają się na firefoxie, ale nie na chromie. nie wiem czemu.</p>

  
   
    <button onclick="zagraj()" id="zagraj">Zagraj dźwięk</button>
    <button id="tryb" onclick="zmienTryb()">
        Tryb trenowania: wył.
    </button>
    </div>
    </div>

    <script>
        const notes = ['C', 'Db', 'D', 'Eb', 'E', 'F', 'Gb', 'G', 'Ab', 'A', 'Bb', 'B'];


        const C = document.getElementById['C'];
        const Db = document.getElementById['C'];
        const D = document.getElementById['C'];
        const Eb = document.getElementById['C'];
        const E = document.getElementById['C'];
        const F = document.getElementById['C'];
        const Gb = document.getElementById['C'];
        const G = document.getElementById['C'];
        const Ab = document.getElementById['C'];
        const A = document.getElementById['C'];
        const Bb = document.getElementById['C'];
        const B = document.getElementById['C'];

        let TrybTrenowania = false;
        let odpowiedz = '';
        let audio;
        var weryfikacja = true;

        const sciezka = "{% static 'polls/audio/' %}";  

        function zagraj() {
            if (weryfikacja) {
            odpowiedz = notes[Math.floor(Math.random() * notes.length)];
            audio = new Audio(sciezka + odpowiedz + ".mp3"); 
            audio.play();
            weryfikacja = false;
            }
            else {
            audio.play();
            }
            
            
        }

        const guzik = document.getElementById('tryb');
     

        function zmienTryb() {
            if (TrybTrenowania) {
                TrybTrenowania = false;
                guzik.style.backgroundColor = 'rgb(255, 70, 70)'; 
                guzik.innerHTML = "Tryb trenowania: wył.";
            } else {
                TrybTrenowania = true;
                guzik.style.backgroundColor = 'rgb(70, 220, 70)';
                guzik.innerHTML = "Tryb trenowania: wł.";
            }
        }
    

        let czyPoprawne = false;

        function sprawdz(smieszek, form) {
            if (!TrybTrenowania) {
            let czyPoprawne = (smieszek === odpowiedz);
            
            if (czyPoprawne) {
                alert("OK!");
                form.action = "{% url 'button_click' 'poprawne' %}"; 
            } else {
                alert("Umierasz!");
                form.action = "{% url 'button_click' 'zle' %}"; 
            }
            
            form.submit();

        } else {
            switch(smieszek) {
                case 'C':
                    audio = new Audio(sciezka + "C.mp3");
                    audio.play()
                    break;
                case 'Db':
                    audio = new Audio(sciezka + "Db.mp3");
                    audio.play()
                    break;
                case 'D':
                    audio = new Audio(sciezka + "D.mp3");
                    audio.play()
                    break;
                case 'Eb':
                    audio = new Audio(sciezka + "Eb.mp3");
                    audio.play()
                    break;
                case 'E':
                    audio = new Audio(sciezka + "E.mp3");
                    audio.play()
                    break;
                case 'F':
                    audio = new Audio(sciezka + "F.mp3");
                    audio.play()
                    break;
                case 'Gb':
                    audio = new Audio(sciezka + "Gb.mp3");
                    audio.play()
                    break;
                case 'G':
                    audio = new Audio(sciezka + "G.mp3");
                    audio.play()
                    break;
                case 'Ab':
                    audio = new Audio(sciezka + "Ab.mp3");
                    audio.play()
                    break;
                case 'A':
                    audio = new Audio(sciezka + "A.mp3");
                    audio.play()
                    break;
                case 'Bb':
                    audio = new Audio(sciezka + "Bb.mp3");
                    audio.play()
                    break;
                case 'B':
                    audio = new Audio(sciezka + "B.mp3");
                    audio.play()
                    break;
                default:
                    console.log("Jem kostkę czekolady podczas pisania tego");
                    break;
            }
        }
            
        }
   

    </script>

</body>
</html>
