<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/stylislaw.css' %}">
</head>
<body>
    <div id="log">
    <h1>Zarejestruj się</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="login">Zarejestruj</button>
    </form>
    <p>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
    </div>
</body>
</html>
